@model List<IdentityChatEmailNight.Entity.Message>
@{
    Layout = null;
}

<h3>Gelen Mesajlar</h3>

@foreach(var item in Model)
{
    <p>@item.SenderMail - @item.Subject - <a href="/Message/MessageDetail/@item.MessageId" class="btn btn-warning">Mesajı Aç</a></p>
}
